<div class="expense-form">
    <form [formGroup]="form" (ngSubmit)="onSave()">
        <div class="inputs">
            <label for="date">Fecha</label>
            <input formControlName="date" type="date">
        </div>
        <div class="inputs">
            <label for="description">Concepto</label>
            <input formControlName="description" type="string">
            <span 
                class="errors"
                *ngIf="form.get('description').errors && form.get('description').dirty">
                * Este campo es obligatorio
            </span>
        </div>
        <div class="inputs">
            <label for="amount">Importe</label>
            <input formControlName="amount" type="number">
            <span 
                class="errors"
                *ngIf="amountField.errors && amountField.dirty && amountField.hasError('required')">
                * Este campo es obligatorio
            </span>
            <span 
                class="errors"
                *ngIf="amountField.errors && amountField.dirty && amountField.hasError('pattern')">
                * El valor no es valido (solo numeros)
            </span>
        </div>
        <div class="actions">
            <button type="submit" [disabled]="form.invalid">Guardar</button>
            <button (click)="onCancel()" type="button">Cancelar</button>
        </div>
    </form>
</div>

