.expense-form {
    .inputs {
        padding: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        label {
            padding-right: 8px;
            font-size: 18px;
            min-width: 76px;
        }
    
        input {
            margin: 4px;
        }

        .errors {
            color: red;
            width: 100%;
            padding-left: 16px;
            font-size: 14px;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 12px;
        button {
            margin-left: 8px;
        }
    }
}

