.mt-1 {
    margin-top: 4px !important;
}

.mt-2 {
    margin-top: 8px !important;
}

.mt-3 {
    margin-top: 16px !important;
}

.app-actions {
    display: flex;
    justify-content: flex-end;
}

.app-header {
    padding: 16px 0px;
}
